*{
    margin: 0;
}
.contenido{
    background: rgb(66, 173, 164);
    width: 100vw;
    height: 100vh;
    text-align: center;    
}

p{
    font-size: xx-large;
    padding: 5%;
}

button{
    font-size: xx-large;
    padding: 0.75em;
}

#sip{
transform: translate(-100%,0);
}

#nop{
    position: absolute;
}